<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>列表</title>
  <link rel="stylesheet" href="../../css/table.css">
  <script src="../../js/vue.js"></script>
  <script src="../../js/axios.js"></script>
  <script src="../../js/my.js"></script>
  <script src="../../js/connect.js"></script>
</head>
<body>
<div id="app">
  <form id="form">
    <table>
      <!--筛选表单-->
      <tr>
        <th><input v-model="selectForm.name" placeholder="姓名"/></th>
        <th><input v-model="selectForm.buildingNumber" placeholder="楼号"/></th>
        <th><input v-model="selectForm.unitNumber" placeholder="单元"/></th>
        <th><input v-model="selectForm.roomNumber" placeholder="房号"/></th>
        <th><input v-model="selectForm.area" placeholder="面积"/></th>
        <th><input v-model="selectForm.paidForTime" placeholder="交费至"/></th>
        <th><input v-model="selectForm.breaks" placeholder="减免金额"/></th>
        <th><input v-model="selectForm.paidAt51" placeholder="5月1日交费"/></th>
        <th><input v-model="selectForm.depsit" placeholder="押金"/></th>
        <th><input v-model="selectForm.depositToCost" placeholder="押金抵费"/></th>
        <th><input v-model="selectForm.wechatPay" placeholder="微信支付"/></th>
        <th><input v-model="selectForm.moneyPay" placeholder="现金支付"/></th>
        <th><input v-model="selectForm.unionPay" placeholder="银联支付"/></th>
        <th><input v-model="selectForm.refundNumber" placeholder="退款金额"/></th>
        <th><input v-model="selectForm.col" placeholder="备注1"/></th>
        <th><input v-model="selectForm.note" placeholder="备注2"/></th>
        <th><a href="edit.html">添加</a></th>
      </tr>
      <!--显示标题-->
      <tr>
        <th v-for="title in titles">{{title}}</th>
      </tr>
      <!--显示数据-->
      <tr v-for="(list) in list.data">
        <td v-for="(value,key) in list" v-if="key!=='id'">{{value}}</td>
        <td><a :href="'edit.html?id='+list.id">修改</a></td>
      </tr>
      <!--统计数据-->
      <tr>
        <td v-for="object2 in statistics">{{object2}}</td>
      </tr>
    </table>
  </form>
  <button @Click="page.currPage--">上一页</button>
  第<input v-model="page.showPage">页,共{{page.totalPage}}页 ,
  {{page.firstRow}}-{{page.lastRow}}/{{page.totalRow}}条
  <button @Click="page.currPage++">下一页</button>
</div>
<script>
  const app = new Vue({
    el: '#app',
    data: {selectForm, page, list, statistics, titles},
    methods: {
      getTable1Page, table1Statistics, urlEncoding,
    },
    created() {
      this.getTable1Page();
      this.table1Statistics();
    },
    computed: {
      form: {
        get: function (key) {
          return eval("selectForm." + key);
        },
        set: function (key, value) {
          this.selectForm[key] = value;
        }
      }
    }
  });
  app.$watch('page.showPage', {
    handler(newVal) {
      this.getTable1Page();
      this.table1Statistics();
    },
  });
  app.$watch('selectForm', {
    handler(newVal) {
      if (this.page.currPage === 0) {
        this.getTable1Page();
        this.table1Statistics();
      } else this.page.currPage = 0;
    }, deep: true
  })
</script>
</body>
</html>