<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>列表</title>
  <link rel="stylesheet" href="../../css/table.css">
  <script src="../../js/vue.js"></script>
  <script src="../../js/axios.js"></script>
  <script src="../../js/my.js"></script>
  <script src="../../js/connect.js"></script>
</head>
<body>
<div id="app">
  <form id="form">
    <table>
      <tr>
        <th v-for="(object,i) in selectForm"><input/></th>
      </tr>
      <tr>
        <th>姓名</th>
        <th>楼号</th>
        <th>单元</th>
        <th>房号</th>
        <th>面积</th>
        <th>交费至</th>
        <th>减免金额</th>
        <th>5月1日缴费</th>
        <th>押金</th>
        <th>押金抵费</th>
        <th>微信支付</th>
        <th>现金支付</th>
        <th>银联支付</th>
        <th>退款金额</th>
        <th>备注1</th>
        <th>备注2</th>
        <th>操作</th>
      </tr>
      <tr v-for="object in list.data">
        <td v-for="object1 in object">{{object1}}</td>
      </tr>

      <tr>
        <td v-for="object2 in statistics">{{object2}}</td>
      </tr>
    </table>
  </form>
  <button @Click="page.currPage--">上一页</button>
  第<input v-model="page.showPage">页,共{{page.totalPage}}页 ,
  {{page.firstRow}}-{{page.lastRow}}/{{page.totalRow}}条
  <button @Click="page.currPage++">下一页</button>
</div>
<script>
  const app = new Vue({
    el: '#app',
    data: {selectForm, page, list, statistics,},
    methods: {getTable1Page, table1Statistics, urlEncoding,},
    watch: {
      selectForm: {
        handler(newVal) {
          if (this.page.currPage === 0) {
            this.getTable1Page();
            this.table1Statistics();
          } else this.page.currPage = 0;
        }, deep: true
      },
      'page.showPage': {
        handler(newVal) {
          this.getTable1Page();
          this.table1Statistics();
        },
      }
    },
    created() {
      this.getTable1Page();
      this.table1Statistics();
    },
  })
</script>
</body>
</html>