<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>编辑</title>
  <script src="../js/vue.js"></script>
  <script src="../js/axios.js"></script>
  <script>
    'use strict';

    function getQueryVariable() {
      var query = window.location.search.substring(1);
      var vars = query.split("&");
      for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split("=");
        if (pair[0] === 'id') {
          return pair[1];
        }
      }
      return false;
    }
    let id = getQueryVariable();
    let ob = {};
  </script>
</head>
<body>
<div id="app">
  <h1>编辑</h1>
  <form @submit.prevent="submit($event)">
    id:<input v-model="ob.id" name="id"/><br>
    姓名:<input v-model="ob.name" name="name"/><br>
    楼号:<input v-model="ob.buildingNumber" name="buildingNumber"/><br>
    单元:<input v-model="ob.unitNumber" name="unitNumber"/><br>
    房号:<input v-model="ob.roomNumber" name="roomNumber"/><br>
    面积:<input v-model="ob.area" name="area"/><br>
    押金抵费:<input v-model="ob.depositToCost" name="depositToCost"/><br>
    交费至:<input v-model="ob.paidForTime" name="paidForTime"/><br>
    微信支付:<input v-model="ob.wechatPay" name="wechatPay"/><br>
    现金支付:<input v-model="ob.moneyPay" name="moneyPay"/><br>
    银联支付:<input v-model="ob.unionPay" name="unionPay"/><br>
    退款姓名:<input v-model="ob.refundName" name="refundName"/><br>
    退款账号:<input v-model="ob.refundAccount" name="refundAccount"/><br>
    退款金额:<input v-model="ob.refundNumber" name="refundNumber"/><br>
    减免金额:<input v-model="ob.breaks" name="breaks"/><br>
    5月1日交费:<input v-model="ob.paidAt51" name="paidAt51"/><br>
    押金:<input v-model="ob.depsit" name="depsit"/><br>
    垃圾:<input v-model="ob.garbageRate" name="garbageRate"/><br>
    水费:<input v-model="ob.waterRate" name="waterRate"/><br>
    数值备注:<input v-model="ob.col" name="col"/><br>
    文字备注:<input v-model="ob.note" name="note"/><br>
    <button type="submit">保存</button>
    编辑更多
  </form>
</div>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      id,
      ob,
    },
    created() {
      this.getData();
    },
    methods: {
      getData: function () {
        let self = this;
        axios.get('/query?id=' + this.id).then((res => {
          this.ob = res.data;
        }));
      },
      submit: function (event) {
        var formData = new FormData(event.target);
        let self = this;
        console.log(formData);
        axios.get('/save', {
          params: {
            id: this.ob.id,
            name: this.ob.name,
            buildingNumber: this.ob.buildingNumber,
            unitNumber: this.ob.unitNumber,
            roomNumber: this.ob.roomNumber,
            area: this.ob.area,
            depositToCost: this.ob.depositToCost,
            paidForTime: this.ob.paidForTime,
            wechatPay: this.ob.wechatPay,
            moneyPay: this.ob.moneyPay,
            unionPay: this.ob.unionPay,
            refundName: this.ob.refundName,
            refundAccount: this.ob.refundAccount,
            refundNumber: this.ob.refundNumber,
            breaks: this.ob.breaks,
            paidAt51: this.ob.paidAt51,
            depsit: this.ob.depsit,
            garbageRate: this.ob.garbageRate,
            waterRate: this.ob.waterRate,
            col: this.ob.col,
            note: this.ob.note
          }
        }).then(res => {
          alert(res.data);
        });
      },
    }
  });
</script>
</body>
</html>