<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>用户管理</title>
  <link rel="stylesheet" href="../css/table.css">
  <script src="../js/vue.js"></script>
  <script src="../js/axios.js"></script>
  <script src="../js/my.js"></script>
  <script src="../js/connect.js"></script>
</head>
<body>
<div id="app">
  <table>
    <tr>
      <th v-for="title in titles">{{title}}</th>
      <th><a href="edit.html">添加</a></th>
    </tr>
    <tr v-for="(list) in list.data">
      <td v-for="(value,key) in list">{{value}}</td>
      <td><a :href="'edit.html?id='+list.id">
        <button>修改</button>
      </a></td>
    </tr>
    <tr>
      <td>
        <a href="edit.html">添加</a>
      </td>
    </tr>
  </table>
  <button @Click="page.currPage--" class="btn btn-primary">上一页</button>
  第<label><input v-model="page.showPage"></label>页,共{{page.totalPage}}页 ,
  {{page.firstRow}}-{{page.lastRow}}/{{page.totalRow}}条
  <button @Click="page.currPage++" class="btn btn-primary">下一页</button>
  <label>每页显示<input v-model="page.pageSize"></label>条数据
</div>
<script>
  let tableUrl = "/admin/query1";
  let app = new Vue({
    el: '#app',
    data: {page, list, titles: loginTitle},
    methods: {getPage,},
    created() {
      this.getPage(tableUrl + '?pageNumber=' + this.page.currPage);
    }
  });
  app.$watch('page.showPage', {
    handler() {
      this.fresh();
    },
  });
  app.$watch('page.pageSize', {
    handler() {
      axios.get('/visit/set?pageSize=' + this.page.pageSize);
      this.fresh();
    }
  });
</script>
</body>
</html>