<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>用户表</title>
  <script src="../../static/js/vue.js"></script>
  <script src="../../static/js/axios.js"></script>
  <script src="../../static/js/my.js"></script>
  <style>
    table, table tr th, table tr td {
      border: 1px solid #0094ff;
    }

    .smallInput th input {
      width: 50px;
    }
  </style>
</head>
<body>
<div id="app">
  <form id="form">
    <table>
      <tr>
        <th>按日期筛选</th>
        <th colspan="4">开始日期：<input type="date" v-model="timeScope.startDate"></th>
        <th colspan="3">结束日期：<input type="date" v-model="timeScope.endDate"></th>
      </tr>
      <tr class="smallInput">
        <th>按位置筛选</th>
        <th><input v-model="userInfo.buildingNumber" placeholder="楼号"/></th>
        <th><input v-model="userInfo.unitNumber" placeholder="单元"/></th>
        <th><input v-model="userInfo.roomNumber" placeholder="房号"/></th>
      </tr>
      <tr>
        <th>姓名</th>
        <th>楼号</th>
        <th>单元</th>
        <th>房号</th>
        <th>面积</th>
        <th>交费至</th>
        <th>文字备注1</th>
        <th>文字备注2</th>
        <th>数值备注1</th>
        <th>数值备注2</th>
        <th>操作</th>
      </tr>
      <tr v-for="(object,i) in list.data">
        <td>{{object.name}}</td>
        <td>{{object.buildingNumber}}</td>
        <td>{{object.unitNumber}}</td>
        <td>{{object.roomNumber}}</td>
        <td>{{object.area}}</td>
        <td>{{object.paidForTime}}</td>
        <td>{{object.textNote1}}</td>
        <td>{{object.textNote2}}</td>
        <td>{{object.numberNote1}}</td>
        <td>{{object.numberNote2}}</td>
        <td>
          <a type="button" :href="'/userInfo.html?userId=' +object.id">修改</a>
        </td>
      </tr>
    </table>
  </form>
  <button @Click="page.currPage--">上一页</button>
  <span>第<input v-model="page.currPage+1">页,共{{page.totalPage}}页</span><span>,
  {{page.firstRow}}-{{page.lastRow}}/{{page.totalRow}}条</span>
  <button @Click="page.currPage++">下一页</button>
</div>
<script>
  const app = new Vue({
    el: '#app',
    data: {page, list, userInfo, timeScope},
    methods: {
      getPage,
      query: function () {
        this.getPage('/user/query', {
          pageSize: page.pageSize,
          pageNumber: page.currPage,
          startDate: timeScope.startDate,
          endDate: timeScope.endDate,
          buildingNumber: userInfo.buildingNumber,
          unitNumber: userInfo.unitNumber,
          roomNumber: userInfo.roomNumber
        }, {list, page});
      }
    },
    watch: {
      userInfo: {
        handler(newVal) {
          this.query();
        },
        deep: true
      },
      timeScope: {
        handler(newVal) {
          this.query();
        },
        deep: true,
      }
    },
    created() {
      this.query();
    },
  })
</script>
</body>
</html>