<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>列表</title>
  <script src="../../js/vue.js"></script>
  <script src="../../js/axios.js"></script>
  <script src="../../js/my.js"></script>
  <script src="../../js/connect.js"></script>
  <link rel="stylesheet" href="../../css/table.css">
</head>
<body>
<h1>商基鑫城物业信息管理系统</h1>
<div id="app">
  从<label><input v-model="selectForm.startDate" type="date">年</label>
  到<label><input v-model="selectForm.endDate" type="date">年</label>
  <table>
    <tr>
      <th><label><input v-model="selectForm.name" placeholder="姓名"/></label></th>
      <th><label><input v-model="selectForm.buildingNumber" placeholder="楼号"/></label></th>
      <th><label><input v-model="selectForm.unitNumber" placeholder="单元"/></label></th>
      <th><label><input v-model="selectForm.roomNumber" placeholder="房号"/></label></th>
      <th><label><input v-model="selectForm.area" placeholder="面积"/></label></th>
      <th></th>
      <th><label><input v-model="selectForm.breaks" placeholder="减免金额"/></label></th>
      <th><label><input v-model="selectForm.paidAt51" placeholder="5月1日交费"/></label></th>
      <th><label><input v-model="selectForm.depsit" placeholder="押金"/></label></th>
      <th><label><input v-model="selectForm.depositToCost" placeholder="押金抵费"/></label></th>
      <th><label><input v-model="selectForm.refundNumber" placeholder="退款金额"/></label></th>
      <th><label><input v-model="selectForm.property1" placeholder="物业费1"/></label></th>
      <th><label><input v-model="selectForm.property2" placeholder="物业费2"/></label></th>
      <th><label><input v-model="selectForm.property3" placeholder="物业费3"/></label></th>
      <th><label><input v-model="selectForm.col" placeholder="数字备注"/></label></th>
      <th><label><input v-model="selectForm.note" placeholder="文字备注"/></label></th>
      <th><a href="edit.html">添加</a></th>
    </tr>
    <tr>
      <th v-for="title in titles">{{title}}</th>
    </tr>
    <tr v-for="(list) in list.data">
      <td v-for="(value,key) in list" v-if="key!=='id'">{{value}}</td>
      <td><a :href="'edit.html?id='+list.id">
        <button>修改</button>
      </a></td>
    </tr>
    <tr>
      <th v-for="object2 in statistics">{{object2}}</th>
    </tr>
    <tr>
      <th v-for="object3 in counts">{{object3}}</th>
    </tr>
  </table>
  <button @Click="page.currPage--" class="btn btn-primary">上一页</button>
  第<label><input v-model="page.showPage"></label>页,共{{page.totalPage}}页 ,
  {{page.firstRow}}-{{page.lastRow}}/{{page.totalRow}}条
  <button @Click="page.currPage++" class="btn btn-primary">下一页</button>
  <label>每页显示<input v-model="page.pageSize"></label>条数据
</div>
<script>
  let tableUrl = "/visit/table2/query1";
  const app = new Vue({
    el: '#app',
    data: {selectForm, page, list, statistics, counts, titles: table2Titles},
    methods: {
      urlEncoding,
      getPage,
      fresh: function () {
        this.getPage(tableUrl + '?pageNumber=' + this.page.currPage + urlEncoding(this.selectForm));
      }
    },
    created() {
      this.fresh();
    },
  });
  app.$watch('page.showPage', {
    handler() {
      this.fresh();
    },
  });
  app.$watch('selectForm', {
    handler() {
      if (this.page.currPage === 0) this.fresh();
      else this.page.currPage = 0;
    }, deep: true
  });
  app.$watch('page.pageSize', {
    handler() {
      axios.get('/visit/set?pageSize=' + this.page.pageSize);
      this.fresh();
    }
  });
</script>
</body>
</html>