<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>主页</title>
  <script src="./js/vue.js"></script>
  <script src="./js/axios.js"></script>
  <script src="./js/my.js"></script>
  <script src="./js/connect.js"></script>
</head>
<body>
<div id="app">

  <div id="welcome">
    <h2>
      您好,
      <a v-if="!username" href="login.html">请登录</a>
      <span v-if="username">{{username}}</span>
    </h2>
    <button v-if="username" @click="logout()">退出登陆</button>
  </div>

  <div id="visit">
    <h3>查询</h3>
    <a href="visit/table1/index.html">商基鑫城</a><br>
    <a href="visit/table2/index.html">彩虹小区</a><br>
    <a href="visit/table3/index.html">西三里安置小区</a><br>
  </div>

  <div id="admin">
    <h3>管理</h3>
    <a href="./admin/index.html">用户管理</a>
  </div>
  <div>
    <h3>关于</h3>
    <a href="https://github.com/cym2018/property">项目地址</a>
    <a href="mailto:cym2018.xyz@qq.com">功能建议</a><br>
    made by cym2018
  </div>
</div>
<script>
  let app = new Vue({
    el: '#app',
    data: {username: false, isAdmin: false,},
    methods: {logout,},
    created() {
      this.username = getCookie('username');
      this.isAdmin = getCookie('isAdmin');
    }
  });
</script>
</body>
</html>