<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <title>编辑</title>
  <script src="../js/vue.js"></script>
  <script src="../js/axios.js"></script>
  <script src="../js/my.js"></script>
  <script src="../js/connect.js"></script>
</head>
<body>
<div id="app">
  <h1>{{title}}</h1>
  id:<input v-model="info.id" disabled="disabled">
  <br>
  用户名:<input v-model="info.username">
  <br>
  密码:<input v-model="info.password">
  <br>
  <button @click="adminSubmit">提交</button>
</div>
<script>
  let app = new Vue({
    el: '#app',
    data: {title, info,},
    methods: {getVariable, getAdminData, adminSubmit,},
    created() {
      this.info.id = getUrl('id');
      if (this.info.id === false) {
        this.title = '添加用户';
        this.info.id = '';
      } else {
        this.title = '修改';
        getAdminData(info);
      }
    }

  });
</script>
</body>

</html>