<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <title>编辑</title>
  <script src="../js/vue.js"></script>
  <script src="../js/axios.js"></script>
  <script src="../js/my.js"></script>
  <script src="./edit.js"></script>
</head>
<body>
<div id="app">
  <h1>{{title}}</h1>
  id:<input v-model="info.id" disabled="disabled">
  <br>
  用户名:<input v-model="info.username">
  <br>
  密码:<input v-model="info.password">
  <br>
  <button @click="submit">提交</button>
</div>
<script>
  let app = new Vue({
    el: '#app',
    data: {
      title,
      info,
    },
    methods: {
      getVariable,
      getLogin: function (url, params, ret) {
        axios.get(url, {params: params}).then(res => {
          console.log(res);
          ret.id = res.data.id;
          ret.username = res.data.username;
          ret.password = res.data.password;
        });
      },
      submit: function () {
        axios.get('./save', {
          params: {
            id: this.info.id,
            username: this.info.username,
            password: this.info.password
          }
        }).then(res => {
          console.log((typeof res.data));
          if (res.data === true) {
            alert('修改成功');
          }else {
            alert('修改失败');
          }
        });
      }
    },
    created() {
      this.info.id = getVariable('id');
      if (this.info.id === false) {
        this.title = '添加用户';
        this.info.id = '';
      } else {
        this.title = '修改';
        this.getLogin('./queryById', {id: this.info.id}, this.info);
      }
    }

  });
</script>
</body>

</html>