<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>用户管理</title>
  <link rel="stylesheet" href="../css/table.css">
  <script src="../js/vue.js"></script>
  <script src="../js/axios.js"></script>
  <script src="../js/my.js"></script>
  <script src="../js/connect.js"></script>
</head>
<body>
<div id="app">
  <table>
    <tr>
      <th>id</th>
      <th>用户名</th>
      <th>密码</th>
      <th>操作</th>
    </tr>
    <tr v-for="object in list.data">
      <td>{{object.id}}</td>
      <td>{{object.username}}</td>
      <td>{{object.password}}</td>
      <td>
        <a :href="'./edit.html?id='+object.id">修改</a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="edit.html">添加</a>
      </td>
    </tr>
  </table>
  <button @Click="page.currPage--" class="btn btn-primary">上一页</button>
  第<label><input v-model="page.showPage"></label>页,共{{page.totalPage}}页 ,
  {{page.firstRow}}-{{page.lastRow}}/{{page.totalRow}}条
  <button @Click="page.currPage++" class="btn btn-primary">下一页</button>
</div>
<script>
  let app = new Vue({
    el: '#app',
    data: {list,page,},
    methods: {getPage,},
    created() {
      this.getPage('/admin/query?pageSize=' + this.page.pageSize + '&pageNumber=' + this.page.currPage);
    }
  });
</script>
</body>
</html>