html {
    height: 100%;
    background: url("../pic/background.jpg") no-repeat;
    background-size: 100% 100%;
}

.loginForm {
    width: 400px;
    padding: 10px;
    margin: 150px auto;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.6);
    border-radius: 5px;
    display: block;

}

.loginForm>h1 {
    color: #000080;
    font-size: 40px;
}

.loginForm>input {
    width: 300px;
    height: 40px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px #f0f0eb;
}
.loginForm>input:hover{
    width: 300px;
    height: 40px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 20px;
    border-color: #000000;
    border-radius: 5px;
}
.loginForm>.validation {
    color: red;
    text-align: left;
    padding: 0 30px;
}

.loginForm>button {
    width: 150px;
    height: 50px;
    border: white;
    border-radius: 10px;
    margin: 20px;
    font-size: 20px;
}

#login {
    background-color: #3487ff;
    float: left;
    color: white;
}
#login:hover{
    background-color: #3580eb;
    float: left;
    color: white;
}
#register {
    background-color: #f0f8ff;
    float: right;
}

#register:hover {
    background-color: #f0f0eb;
    float: right;
}
.clear {
    clear: both;
}
