<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>列表</title>
  <link rel="stylesheet" href="../../css/table.css">
  <script src="../../js/vue.js"></script>
  <script src="../../js/axios.js"></script>
  <script src="../../js/my.js"></script>
  <script src="../../js/connect.js"></script>
</head>
<body>
<h1>西三里安置小区</h1>
<div id="app">
  <table>
    <!--筛选-->
    <tr>
      <th><label><input v-model="selectForm.name" placeholder="姓名"/></label></th>
      <th><label><input v-model="selectForm.buildingNumber" placeholder="楼号"/></label></th>
      <th><label><input v-model="selectForm.unitNumber" placeholder="单元"/></label></th>
      <th><label><input v-model="selectForm.roomNumber" placeholder="房号"/></label></th>
      <th><label><input v-model="selectForm.area" placeholder="面积"/></label></th>
      <th><label><input v-model="selectForm.paidForTime" placeholder="交费至"/></label></th>
      <th><label><input v-model="selectForm.refundDate" placeholder="退款日期"/></label></th>
      <th><label><input v-model="selectForm.refundName" placeholder="退款姓名"/></label></th>
      <th><label><input v-model="selectForm.refundNumber" placeholder="退款金额"/></label></th>
      <th><label><input v-model="selectForm.depositState" placeholder="退款状态"/></label></th>
      <th><label><input v-model="selectForm.property1" placeholder="物业费1"/></label></th>
      <th><label><input v-model="selectForm.property2" placeholder="物业费2"/></label></th>
      <th><label><input v-model="selectForm.property3" placeholder="物业费3"/></label></th>
      <th><label><input v-model="selectForm.numberNote" placeholder="数字备注"/></label></th>
      <th><label><input v-model="selectForm.textNote" placeholder="文字备注"/></label></th>
      <th><a href="edit.html">添加</a></th>
    </tr>
    <!--标题-->
    <tr>
      <th v-for="title in titles">{{title}}</th>
    </tr>
    <!--数据-->
    <tr v-for="(list) in list.data">
      <td v-for="(value,key) in list" v-if="key!=='id'">{{value}}</td>
      <td><a :href="'edit.html?id='+list.id">修改</a></td>
    </tr>
    <!--统计-->
    <tr>
      <th v-for="object2 in statistics">{{object2}}</th>
    </tr>
    <tr>
      <th v-for="object3 in counts">{{object3}}</th>
    </tr>
  </table>
  <button @Click="page.currPage--">上一页</button>
  第<label>
  <input v-model="page.showPage">
</label>页,共{{page.totalPage}}页 ,
  {{page.firstRow}}-{{page.lastRow}}/{{page.totalRow}}条
  <button @Click="page.currPage++">下一页</button>
</div>
<a href="../table1/index.html">商基鑫城物业信息管理系统</a> <a href="../table2/index.html">彩虹小区物业信息管理系统</a>
<script>
  const app = new Vue({
    el: '#app',
    data: {selectForm, page, list, statistics, titles: table3Titles, counts},
    methods: {getPage, getTableStatistics, getTableCounts},
    created() {
      this.getPage('/visit/table3/query?pageSize=' + this.page.pageSize + '&pageNumber=' + this.page.currPage + urlEncoding(this.selectForm));
      this.getTableStatistics(3);
      this.getTableCounts(3);
    },
  });
  app.$watch('page.showPage', {
    handler() {
      this.getPage('/visit/table3/query?pageSize=' + this.page.pageSize + '&pageNumber=' + this.page.currPage + urlEncoding(this.selectForm));
      this.getTableStatistics(3);
      this.getTableCounts(3);
    },
  });
  app.$watch('selectForm', {
    handler() {
      if (this.page.currPage === 0) {
        this.getPage('/visit/table3/query?pageSize=' + this.page.pageSize + '&pageNumber=' + this.page.currPage + urlEncoding(this.selectForm));
        this.getTableStatistics(3);
        this.getTableCounts(3);
      } else this.page.currPage = 0;
    }, deep: true
  })
</script>
</body>
</html>